* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

header {
	margin: 0;
	padding: 0;
	border-top: 1px solid transparent;
}

#nav-list {
	background-color: #363636;
	position: fixed;
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	margin-bottom: 10rem;
	padding: 3rem 0;
}

.navbar-toggle {
	color: #fffef2;
	position: fixed;
	top: 1.6rem;
	left: 1.6rem;
	cursor: pointer;
	font-size: 2.5rem;
}

#nav-list a:not(:first-child) {
	display: none;
}

#nav-list.active a:not(:first-child) {
	display: block;
	color: #fffef2;
	text-align: center;
	width: 100%;
	padding: 2rem;
	font-size: 2rem;
	text-decoration: none;
}

#nav-list.active a:nth-child(2) {
	padding-top: 4rem;
}

#nav-list.active a:not(:first-child):hover {
	box-shadow: 3px 5px rgba(0, 0, 0, #fffef2);
}

#nav-list.active {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
	background-color: #363636;
	width: 100%;
}

#intro {
	padding-top: 7rem;
	height: 100vh;
	background: #363636;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#intro h1 {
	text-align: center;
	font-size: 2.6rem;
	font-weight: 300;
	color: #fffef2;
}

#intro h1 span {
	color: #de5285;
}

#intro p {
	font-size: 1.4rem;
	text-align: center;
	font-weight: 200;
	color: #fffef2;
	width: 80%;
	line-height: 2.5rem;
}

#intro a {
	display: inline-block;
	text-decoration: none;
	color: #fbded6;
	margin-top: 3rem;
	font-size: 1.6rem;
	padding: 2rem;
	font-weight: 300;
	height: 6rem;
	letter-spacing: 1px;
	text-align: center;
	transition: transform ease-in-out 2s, box-shadow ease-out 1s;
	border-radius: 5px;
}

#intro a:hover,
#intro a:focus {
	transform: scale(1.1);
	box-shadow: 3px 3px 39px 0px rgba(0, 0, 0, 0.404);
}

@media (max-width: 770px) and (orientation: landscape) {
	#intro {
		padding-top: 5rem;
	}
	#intro a {
		margin-top: 1rem;
	}
}

@media (min-width: 770px) {
	#nav-list {
		justify-content: flex-end;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
	}

	#nav-list a:not(:first-child) {
		display: block;
		color: #fffef2;
		margin: 0 2rem;
		padding: 0 0.5rem;
		font-size: 1.4rem;
		text-decoration: none;
		font-weight: 300;
		border-bottom: 1px solid transparent;
		transition: color ease-in-out 1s, border ease-in-out 1s;
		letter-spacing: 0.1em;
	}

	#nav-list a:hover {
		color: #fbded6;
		border-bottom: 1px solid #fbded6;
		text-shadow: 0 0 0.4px #fbded6, 0 0 0.4px #fbded6;
	}

	#nav-list a.navbar-toggle {
		display: none;
	}

	#nav-list a {
		display: none;
	}

	#intro h1 {
		font-size: 4.8rem;
	}

	#intro a {
		width: 20%;
		max-width: 20rem;
		margin-top: 4rem;
	}

	#intro p {
		width: 50%;
		max-width: 50rem;
		font-size: 1.8rem;
		line-height: 3rem;
	}
}
